div.produkty {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
div.karta {
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    height: 230px;
    padding: 10px;
    flex: 1 1 300px;
}
button {
    margin-top: auto;
}